<%# PORTADA %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Lost Little Horsies", "h1", "ti"],
        ["A game design project by Raimundo Consiglio", "h3", "st"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'st st st st st st st st st st st st'"
}) %>

<%# AGRADECIMIENTOS %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Special Thanks", "h2", "ti"],
        ["Lorem Ipsum", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INDICE %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Index", "h2", "ti"],
        ["Lorem Ipsum", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INTRODUCCIÓN: Propuesta %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["About My Proposal", "h2", "ti"],
        ["Lost Little Horsies is a 
        <a href='https://en.wikipedia.org/wiki/Nonviolent_video_game'>non-violent</a><a href='https://en.wikipedia.org/wiki/Nonviolence'>¹</a>, 
        2D platforming game where a&nbsp;group of three horsies 
        —a Unicorn, a Pegasus, and a <span class='tooltip'>Gæahippos—</span>
        <span class='rel'><span class='info'>
            pronounced <span class='ipa'>/ˈge.ɪp.ɒs/</span> from Greek Γαῖα (Earth), and ίππος (Horse)
        </span></span>
        try&nbsp;to find their way home after being lost in early 19th century Britain.", "p", "p1"],
        ["They journey through the land while working together, taking advantage of each of their unique abilities, avoiding magic hunters who want to keep them for their collections, and making friends along the way.", "p", "p2"],
        ["Rated E/E+10, for PC and consoles.", "p", "p3", "small"],
        ["icons/english-flag.gif", "img", "im"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 im im im im im'
                'p1 p1 p1 p1 p1 p1 p1 im im im im im'
                'p1 p1 p1 p1 p1 p1 p1 im im im im im'
                'p2 p2 p2 p2 p2 p2 p2 im im im im im'
                'p2 p2 p2 p2 p2 p2 p2 im im im im im'
                'p2 p2 p2 p2 p2 p2 p2 p3 p3 p3 p3 p3'"
}) %>

<%# INTRODUCCIÓN: Motivaciones preliminares %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiration", "h2", "ti"],
        ["Lost Little Horsies was born out of my love for platforming games ...", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Marco conceptual: Antecedentes Relevantes %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Escenarios sistémicos (diagrama de Venn) %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Marco conceptual: Definicion de Conceptos/Mapa Conceptual %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Marco conceptual: Definicion de Conceptos: Puzzle Platformer %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["What <em>is</em> a Puzzle Platformer?", "h2", "ti"],
        ["Lost Little Horsies is a 2D puzzle-platformer. In his blog, <a href='https://www.kelleherbros.com/blog/2024/3/4/defining-the-platformer-genre'>kelleherbros.com</a>, video game designer Lucas Kelleher defines platformers as \"game[s] where the primary action revolves around running and jumping.\" steoretipically, these are \"2D side-scrolling game[s] in which the main character navigates horizontal space by running and vertical space with jumping,\" and then goes on to define puzzle-platformers as \"platforming game[s] built around puzzle-solving, as opposed to combat/action or freewheeling traversal.\" Lucas then gives us Donkey Kong '94 as an example of such games, describing its gameplay as such: \"[Mario's] objective is almost always to bring a key back to a locked door, so that he might proceed to the next challenge. It’s platforming gameplay, but always [as] a means to solve [a] puzzle\", which I feel is a very apt description of what I plan to do with Lost Little Horsies.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Problemática y Oportunidad de diseño y producción, usar info de Marketing! %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Existe un Público para esto? %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Incluir Estado del Arte (juegos de los últimos 5 años que tengan alguna o varias características que se acercan a la propuesta presentada — entre más, mejor): Billie Bust Up, Deltarune, ", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Público Objetivo %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Objetivo Principal %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivo Principal", "h2", "ti"],
        ["Diseñar un videojuego 2D del género puzzle-platformer que se desenlazaría en un mundo inspirado en la Gran Bretaña de inicios del siglo 19, donde el jugador o jugadora navega niveles cuyos entornos requieren de su pensamiento abstracto. Esto se lograría alternando entre 3 personajes, cada uno con habilidades únicas. La narrativa yuxtapondría el pensamiento mágico de los siglos anteriores —representado por los personajes mitológicos con un aspecto dulce y pueril— con el pensamiento científico traído por la reciente revolución científica y la revolución industrial, manteniendo una narrativa no-violenta con la intención de comunicar que uno no tiene por qué dejar atrás a su niño o niña interior.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Objetivos específicos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivos específicos", "h2", "ti"],
        ["Diseñar un sistema de movimiento satisfactorio, donde controlar los tres personajes con distintas habilidades se sienta intuitivo. Estas habilidades estarían balanceadas de tal modo que ninguno de estos personajes se sientan innecesarios o redundantes. Los niveles del juego estarían diseñados de tal modo que el jugador o la jugadora pueda explorar y explotar las habilidades de cada personaje para avanzar.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Objetivos específicos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivos específicos", "h2", "ti"],
        ["Crear un mundo cuyos aspectos narrativos y de jugabilidad yuxtapogan lo mágico y lo científico, usando este de vehículo narrativo para contar una historia que explore el concepto de que no hay que perder el asombro —nuestro niño o niña interior— para vivir en un mundo adulto.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Objetivos específicos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivos específicos", "h2", "ti"],
        ["Desarrollar, implementar, y evaluar los aspectos visuales, sonoros, narrativos, y jugables del juego, de modo que estos fortalezcan tanto el diseño mecánico como narrativo de este.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Moodboard/Bocetaje del Juego (Narrativo) %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["Mundo narrativo / construcción de mundo", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Moodboard/Bocetaje del Juego (Visual) %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["Estética visual", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Moodboard/Bocetaje del Juego (Sonoro) %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["Estética sonora y musical", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes Narrativos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Diseño Narrativo %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: On-The-Fly Character Swapping %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — On-The-Fly Character Swapping", "h2", "ti"],
        ["One of the mechanics that will set apart Lost Little Horsies from the most other puzzle-platformers, is the fact that the player will be able to switch between three different characters to use each of thir unique abilities, in a manner similar to the overworld exploration in the Mario & Luigi RPGs", "p", "p1"],
        [
            "(Mario & Luigi Gif 1)", "img", "i1"
        ],
        [
            "(Mario & Luigi Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: On-The-Fly Character Swapping %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — On-The-Fly Character Swapping", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Pegasus Flight %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Flight", "h2", "ti"],
        ["(Multijumps like Pit or Kirby in SSB)", "p", "p1"],
        [
            "(SSB Gif 1)", "img", "i1"
        ],
        [
            "(SSB Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Pegasus Flight %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Flight", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>



<%# IDEACIÓN: Referentes de mecánicas: Pegasus Thunder %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Thunder", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(SSB Gif 1)", "img", "i1"
        ],
        [
            "(SSB Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Pegasus Thunder %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Thunder", "h2", "ti"],
        ["(Description of use cases, and input)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Unicorn Teleportation %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Teleportation", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(SSB Gif 1)", "img", "i1"
        ],
        [
            "(SSB Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Unicorn Teleportation %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Teleportation", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>



<%# IDEACIÓN: Referentes de mecánicas: Unicorn Telekinesis %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Telekinesis", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(Gif 1)", "img", "i1"
        ],
        [
            "(Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Unicorn Telekinesis %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Telekinesis", "h2", "ti"],
        ["(Description of use cases, and input)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Gæahippos Ground Pound %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Ground Pound", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(Gif 1)", "img", "i1"
        ],
        [
            "(Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Gæahippos Ground Pound %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Ground Pound", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Gæahippos Phytoturgy %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Phytoturgy", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(Gif 1)", "img", "i1"
        ],
        [
            "(Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Gæahippos Phytoturgy %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Phytoturgy", "h2", "ti"],
        ["(Description of use cases, and input)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# Descripción del resto de mecánicas principales, a traves de la repetición de las dos anteriores diapositivas (Se debe complementar con bocetos propios, imágenes y/o video de otros productos como juegos, animaciones, películas, etc) %>

<%# IDEACIÓN: Referentes conceptuales y artísticos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Diseño visual (assets, personajes, entornos, GUI/HUD) %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes sonoros %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Diseño Sonoro %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Modelo de negocio y escalabilidad del proyecto: Definición de parámetros de audiencia %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["(factibilidad, viabilidad, gestión de negocio, posicionamiento en el mercado y oportunidad de innovación u otros)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: PRODUCTO ACADÉMICO: Prototipo con placeholders y mecánicas funcionales/Ejemplos de Gameplay %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Gameplay", "h2", "ti"],
        ["(Demo) Ejemplos de gameplay a partir de las mecánicas descritas anteriormente. (Especulación fundamentada)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Implementación con placeholders: Resultados esperados e impacto de la propuesta %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Proceso de Animación %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Proceso de texturas, iluminación, shaders %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Diseño de niveles %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Programación final del prototipo %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# POST-PRODUCCIÓN: Desarrollo o propuesta de pipeline %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Proyección de nuevas etapas de desarrollo del proyecto %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Grado de avance y potenciales desafíos del proceso, junto a posibles soluciones %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Grado de avance y potenciales desafíos del proceso, junto a posibles soluciones %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Grado de efectividad de la propuesta %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Nivel de logro de los objetivos %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# ANEXOS %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# BIBLIOGRAFÍA %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>


https://www.giantbomb.com/on-the-fly-character-switching/3015-4385/


- [Unicorns](https://bestiary.ca/beasts/beast140.htm)[¹](https://bestiary.ca/beasts/beast165.htm)[²](https://en.wikipedia.org/wiki/Unicorn) -> Abilities according to mythology?
- [Pegasi](https://bestiary.ca/beasts/beast477.htm)[¹](https://en.wikipedia.org/wiki/Pegasus)
- [Chtonippos](https://en.wikipedia.org/wiki/Chthonic)[¹](https://en.wikipedia.org/wiki/Sleipnir)

### Referentes Culturales

- My Little Pony
- Greek and Medieval Mythology
- [Georgian Era Britain](https://en.wikipedia.org/wiki/Georgian_era)
- [Isaac Newton and the Occult](https://en.wikipedia.org/wiki/Isaac_Newton%27s_occult_studies)
(otros juegos, libros, películas, discos, etc) (indicar que es lo que se está referenciando de cada uno)

Añadir un archivo chiquito que permita ver los controles del juego
