<%# PORTADA %>

<%# RESUMIR MUCHOOOOOOO %>

<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Lost Little Horsies", "h1", "ti"],
        ["A game design project by Raimundo Consiglio", "h3", "st"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'st st st st st st st st st st st st'"
}) %>

<%# AGRADECIMIENTOS %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Special Thanks", "h2", "ti"],
        ["Lorem Ipsum", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INDICE %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Index", "h2", "ti"],
        ["Lorem Ipsum", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INTRODUCCIÓN: Propuesta %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["About My Proposal", "h2", "ti"],
        ["Lost Little Horsies es un Plataformero 2D <a href='https://en.wikipedia.org/wiki/Nonviolent_video_game'>no-violento</a><a href='https://en.wikipedia.org/wiki/Nonviolence'>¹</a>donde un grupo de tres ponis 
        —una Unicornio, una Pegaso, y una <span class='tooltip'>Gæahippos—</span>
        <span class='rel'><span class='info'>
            pronunciado <span class='ipa'>/ˈge.ɪp.ɒs/</span> del Γαῖα (Earth), e ίππος (Horse)
        </span></span>
        tratan de encontrar el camino de vuelta a casa tras perderse en la Gran Bretaña de inicios del siglo 19.", "p", "p1"],
        ["Trabajando en grupo y aprovechando cada una de sus habilidades unicas, conocen a nuevos amigos y evitan cazadores de magia —quienes desean capturar al grupo para sus colecciones personales.", "p", "p2"],
        ["Calificado E/E+10, para PC y consolas.", "p", "p3", "small"],
        ["icons/Bluesky.gif", "img", "im"],
        ["icons/english-flag.gif", "img", "i2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'i2 i2 i2 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'i2 i2 i2 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p2 p2 im im im im'
                'p2 p2 p2 p2 p2 p2 p2 p2 im im im im'
                'p2 p2 p2 p2 p2 p2 p2 p2 im im im im'
                'p3 p3 p3 p3 p3 p3 nl nl im im im im'"
}) %>

<%# INTRODUCCIÓN: Motivaciones preliminares %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Motivación", "h2", "ti"],
        ["Siempre me ha apasionado darle alegría a los demás. Cuando tenía como 5 años, el trabajo de mis sueños era tener una fábrica de juguetes impulsada por burbujas en la cima de la cordillera de los Andes en la frontera entre Argentina y Chile, para que los niños de ambos países pudieran disfrutar de los juguetes que he haría.", "p", "p1"],
        ["En retrospectiva, esta pasión nunca desapareció, sino que esta evolucionó a mi actual pasaion por la creación de juegos.", "p", "p2"],
        ["train.png", "img", "im"],
        ["gamecube.png", "img", "i2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'
                'im im im im p2 p2 p2 p2 p2 p2 p2 p2'"
}) %>

<%# INVESTIGACIÓN: Marco conceptual: Antecedentes Relevantes %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiration - Concept", "h2", "ti"],
        ["Lost Little Horsies was born out of my love for platforming games, as well as my passion for My Little Pony.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiration - Character Swapping", "h2", "ti"],
        ["The key mechanic of swapping between characters to complete platforming challenges came to me while playing Mario & Luigi: Superstar Saga, where you swap between the titular characters to navigate the world using their unique field abilities, which all have them cooperate to perform these.", "p", "p1"],
        ["My brain then made the connection that this could be used in platforming games, and it has been used in games like Sonic Heroes and The Lost Vikings. Beyond those two examples, I feel that this still is fertile grounds for exploration of the concept, since not many other games feature this as a core gameplay mechanic.", "p", "p2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2'"
}) %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiration - Non-Violence", "h2", "ti"],
        ["Before having the character swapping mechanic pop into my mind, though, the concept initially came to my mind as a simple question: How would a platforming game where you don't inflict violence play like? Because, even if cartoony, games like Mario, Kirby, and Sonic feature some type of violence as core gameplay mechanics, be it Mario's stomp, Kirby's inhaling, or Sonic's spin dash. I though it could make for an interesting design challenge, and the character swapping mechanics came not long after.", "p", "p1"],
        ["These two ideas also perfectly fit a game inspired by My Little Pony, since core messages of the series include the importance of friendship and collaboration, as well as perseverance and understanding.", "p", "p2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2'"
}) %>

<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiración - No-Violencia y Cambios de Personaje", "h2", "ti"],
        ["¿Cómo sería un juego de plataformas en el que no se inflige violencia? Porque, incluso si son caricaturescos, juegos como Mario, Kirby y Sonic presentan igual violencia como mecánicas centrales de sus juegos, ya sea el pisotón de Mario, la inhalación de Kirby o el spindash de Sonic.", "p", "p1"],
        ["De esta idea y el juego 'Mario & Luigi: Superstar Saga' nació la idea de cambiar entre los personajes para completar desafíos y navegar por el mundo.
        Estas dos ideas también encajan perfectamente en un juego inspirado en My Little Pony, ya que los mensajes centrales de la serie incluyen la importancia de la amistad y la colaboración, así como la perseverancia y la comprensión.", "p", "p2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2'"
}) %>

<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiración - Trama", "h2", "ti"],
        ["¿Qué pasaría si tres pequeños ponis quedaran varados en el mundo humano? Después de todo, la idea de estar atrapado en un mundo que no es el tuyo es bastante común en el anime, hasta el punto de que este tropo se ha ganado un nombre: Isekai, que significa 'Otro Mundo'.", "p", "p1"],
        ["Esta trama le da a nuestros protagonistas un motivo creíble, pero fácil de entender: ¿Quién no se ha sentido alienado, extraño a veces cuando se encuentra en un entorno nuevo, ya sea una nueva escuela, un nuevo lugar de trabajo o un país que visita?", "p", "p2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2'"
}) %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiration - Plot", "h2", "ti"],
        ["The trope usually plays out with humans being stuck in fantasy worlds, but despite being less common, it can also play out in reverse; heck, a few of the aforementioned fanfics feature ponies being stranded in earth, so why not play with the trope myself? It gives our protagonists a sympathetic, yet easy to understand motive: Who hasn't felt alienated, strange sometimes when in a new environment, be it a new school, a new workplace, or a country your visiting?", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Inspiración - Lugar", "h2", "ti"],
        ["Se me ocurrió la idea de que estos ponis estuvieran atrapados en la Gran Bretaña del siglo XVIII, en un periodo felxible entre entre los siglos XVI y XIX también, ya que esto me permite representar una yuxtaposición interesante con mis personajes.", "p", "p1"],
        ["En una época de transición del pensamiento mágico al racionalismo acérrimo, ¿qué mejor para alterar el status quo que tres criaturas míticas que aparecen sin previo aviso?", "p", "p2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2'"
}) %>

<%# INVESTIGACIÓN: Escenarios sistémicos (diagrama de Venn) %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Marco conceptual: Definicion de Conceptos/Mapa Conceptual %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Marco conceptual: Definicion de Conceptos: Puzzle Platformer %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["What <em>is</em> a Puzzle Platformer?", "h2", "ti"],
        ["Lost Little Horsies es un juego de plataformas y rompecabezas en 2D. En su blog, <a href='https://www.kelleherbros.com/blog/2024/3/4/defining-the-platformer-genre'>kelleherbros.com</a>, el diseñador de videojuegos Lucas Kelleher define Los juegos de plataformas son \"juegos en los que la acción principal gira en torno a correr y saltar\". Estereotípicamente, se trata de \"juegos de desplazamiento lateral en 2D en los que el personaje principal navega por el espacio horizontal corriendo y por el espacio vertical saltando\", y luego define los juegos de plataformas y rompecabezas como \"juegos de plataformas construidos en torno a la resolución de acertijos, en contraposición al combate/acción o el recorrido libre\". Lucas luego nos da Donkey Kong '94 como ejemplo de este tipo de juegos, describiendo su modo de juego de la siguiente manera: \"El objetivo [de Mario] es casi siempre traer una llave a una puerta cerrada, para poder pasar al siguiente desafío. Es un juego de plataformas. jugabilidad, pero siempre [como] un medio para resolver [un] rompecabezas\", lo cual creo que es una descripción muy adecuada de lo que planeo hacer con Lost Little Horsies.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Problemática y Oportunidad de diseño y producción, usar info de Marketing! %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Problemática y Oportunidad de Diseño y Producción", "h2", "ti"],
        ["Primero tuve que preguntarme: ¿Existe siquiera demanda para este tipo de juego? Así que hice una investigación preliminar utilizando herramientas en línea. De la gente que contestó mi encuesta, hay tres fuentes de origen principales: A mis amigos y los amigos de mis hermanos irl, a mis amigos online en una comunidad en Discord, y a mis seguidores en BlueSky.
        
        Estas fueron recopiladas usando Google Forms, lo que me facilita el análisis de estas, y me permite compilarlas en una <a href='https://docs.google.com/spreadsheets/d/1l7BUJlMEoFmfsp2X5rgmGM8ot6mrsDGTtDa1F4QhcW'>hoja de calculo de google.</a>", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# INVESTIGACIÓN: Existe un Público para esto? %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Existe un Público para esto?", "h2", "ti"],
        ["Si quieren ver más detalladamente mis conclusiones, pueden hacerlo <a href=''>en este archivo</a>, pero el cuento corto es que de los participantes, en cuanto concierne a la acción y la violencia, un 25% respondió que no les gusta la violencia, o que solo les gusta en pequeñas dosis. Además, a un 50% de nuestro sub-grupo que prefiere evitar la violencia les gusta la acción, a un 33% les gusta esta siempre y cuando el medio en cuestión tenga algo más, y un 17% mostró ambivalencia hacia esta, lo que demuestra que, al menos 6 de las 24 personas encuestadas, tienen un potencial interés en juegos de acción no-violentos.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Existe un Público para esto?", "h2", "ti"],
        ["Además, estos suelen corresponder a un cluster de personas quienes prefieren narrativas optimistas y ligeras, con estéticas tiernas y personajes afables.", "p", "p1"],
        ["Esto también se puede observar debido al interes a juegos con estética tiernas como Kirby, o incluso inspiradas en My Little Pony como Them's Fighting Herd o Billie Bust Up; y al nteres a juegos con narrativas que exploran temas de esperanza, optimismo y amistad como el muy anticipado Deltarune.", "p", "p2"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2'"
}) %>

<%# IDEACIÓN: Público Objetivo %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Público Objetivo - Buyer Persona", "h2", "ti"],
        ["<p>A partir de lo recopilado, siento que este sería mi Buyer Persona:</p>

        <h3>Esperanza (♀️), 21 años</h3>", "div", "p1"],
        ["<ul><p><b>Valores y Personalidad:</b></p>
        <li><p>Optimista hacia un futuro mejor, mas reconoce la necesidad de un gran trabajo para alcanzarlo</p></li>
        <li><p>Valora la inclusión y diversidad sincera</p></li>
        <li><p>Aprecia la vida; rechaza el cinismo</p></li>
        </ul>", "div", "p2"],
        ["<ul><p><b>Intereses y Pasatiempos:</b></p>
            <li><p>Videojuegos (géneros favoritos siendo Puzzle, RPG, Aventura, y Plataformas)</p></li>
            <li><p>Lectura</p></li>
            <li><p>Series de TV</p></li>
        </ul>", "div", "p3"],
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'
                'p2 p2 p2 p2 p2 p2 p3 p3 p3 p3 p3 p3'"
}) %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Público Objetivo - Buyer Persona", "h2", "ti"],
        ["<h3>Esperanza (♀️), 21 años</h3>

        <ul><p><b>Preferencias de Entretenimiento:</b></p>
            <li><p>Fanática de la ficción</p></li>
            <li><p>Prefiere consumir su contenido en casa, a través de un mix entre streaming y physical media</p></li>
            <li><p>Prefiere medios menos violentos, aunque no rechaza la violencia de fantasía si tiene mensajes optimistas, pro-libertad, y pro-paz</p></li>
            <li><p>Valora historias con un buen worldbuilding</p></li>
            <li><p>Aprecia tanto lo mainstream como lo alternativo</p></li>
        </ul>", "div", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Público Objetivo - Buyer Persona", "h2", "ti"],
        ["Esperanza (♀️), 21 años", "h3", "st"],
        ["<ul><p><b>Libros o Historias Escritas Favoritas:</b></p>
            <li><p>El Señor de los Anillos</p></li>
            <li><p>The Enchanted Library</p></li>
            <li><p>El Principito</p></li>
        </ul>", "div", "p2"],
        ["<ul><p><b>Potenciales Motivos de Compra:</b></p>
            <li><p>Juegos y series que presenten historias inclusivas</p></li>
            <li><p>Medios con apariencia tierna</p></li>
            <li><p>Literatura y contenido visual que exalten valores del optimismo y la lucha por un mejor futuro</p></li>
        </ul>", "div", "p3"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'st st st st st st st st st st st st'
                'p2 p2 p2 p2 p2 p2 p3 p3 p3 p3 p3 p3'"
}) %>

<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Público Objetivo - Buyer Persona", "h2", "ti"],
        ["Esperanza (♀️), 21 años", "h3", "st"],
        ["<ul><p><b>Videojuegos Favoritos:</b></p>
            <li><p>Kirby</p></li>
            <li><p>Portal 2</p></li>
            <li><p>Super Mario</p></li>
            <li><p>Stardew Valley</p></li>
            <li><p>Tetris</p></li>
        </ul>", "div", "p2"],
        ["<ul><p><b>Series Favoritas:</b></p>
            <li><p>My Little Pony (Creció con esta)</p></li>
            <li><p>Bluey (Lo ve con su hermanita chica)</p></li>
            <li><p>The Owl House</p></li>
        </ul>", "div", "p3"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'st st st st st st st st st st st st'
                'p2 p2 p2 p2 p2 p2 p3 p3 p3 p3 p3 p3'"
}) %>

<%# IDEACIÓN: Objetivo Principal %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivo Principal", "h2", "ti"],
        ["Diseñar un videojuego 2D del género puzzle-platformer que se desenlazaría en un mundo inspirado en la Gran Bretaña de inicios del siglo 19, donde el jugador o jugadora navega niveles cuyos entornos requieren de su pensamiento abstracto. Esto se lograría alternando entre 3 personajes, cada uno con habilidades únicas. La narrativa yuxtapondría el pensamiento mágico de los siglos anteriores —representado por los personajes mitológicos con un aspecto dulce y pueril— con el pensamiento científico traído por la reciente revolución científica y la revolución industrial, manteniendo una narrativa no-violenta con la intención de comunicar que uno no tiene por qué dejar atrás a su niño o niña interior.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Objetivos específicos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivos específicos", "h2", "ti"],
        ["Diseñar un sistema de movimiento satisfactorio, donde controlar los tres personajes con distintas habilidades se sienta intuitivo. Estas habilidades estarían balanceadas de tal modo que ninguno de estos personajes se sientan innecesarios o redundantes. Los niveles del juego estarían diseñados de tal modo que el jugador o la jugadora pueda explorar y explotar las habilidades de cada personaje para avanzar.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Objetivos específicos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivos específicos", "h2", "ti"],
        ["Crear un mundo cuyos aspectos narrativos y de jugabilidad yuxtapogan lo mágico y lo científico, usando este de vehículo narrativo para contar una historia que explore el concepto de que no hay que perder el asombro —nuestro niño o niña interior— para vivir en un mundo adulto.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Objetivos específicos %>
<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Objetivos específicos", "h2", "ti"],
        ["Desarrollar, implementar, y evaluar los aspectos visuales, sonoros, narrativos, y jugables del juego, de modo que estos fortalezcan tanto el diseño mecánico como narrativo de este.", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Moodboard/Bocetaje del Juego (Narrativo) %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["Mundo narrativo / construcción de mundo", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Moodboard/Bocetaje del Juego (Visual) %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["Estética visual", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Moodboard/Bocetaje del Juego (Sonoro) %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["Estética sonora y musical", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes Narrativos %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Diseño Narrativo %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: On-The-Fly Character Swapping %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — On-The-Fly Character Swapping", "h2", "ti"],
        ["One of the mechanics that will set apart Lost Little Horsies from the most other puzzle-platformers, is the fact that the player will be able to switch between three different characters to use each of thir unique abilities, in a manner similar to the overworld exploration in the Mario & Luigi RPGs", "p", "p1"],
        [
            "(Mario & Luigi Gif 1)", "img", "i1"
        ],
        [
            "(Mario & Luigi Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: On-The-Fly Character Swapping %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — On-The-Fly Character Swapping", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Pegasus Flight %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Flight", "h2", "ti"],
        ["(Multijumps like Pit or Kirby in SSB)", "p", "p1"],
        [
            "(SSB Gif 1)", "img", "i1"
        ],
        [
            "(SSB Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Pegasus Flight %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Flight", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>



<%# IDEACIÓN: Referentes de mecánicas: Pegasus Thunder %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Thunder", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(SSB Gif 1)", "img", "i1"
        ],
        [
            "(SSB Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Pegasus Thunder %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Pegasus Thunder", "h2", "ti"],
        ["(Description of use cases, and input)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Unicorn Teleportation %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Teleportation", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(SSB Gif 1)", "img", "i1"
        ],
        [
            "(SSB Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Unicorn Teleportation %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Teleportation", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>



<%# IDEACIÓN: Referentes de mecánicas: Unicorn Telekinesis %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Telekinesis", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(Gif 1)", "img", "i1"
        ],
        [
            "(Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Unicorn Telekinesis %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Unicorn Telekinesis", "h2", "ti"],
        ["(Description of use cases, and input)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Gæahippos Ground Pound %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Ground Pound", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(Gif 1)", "img", "i1"
        ],
        [
            "(Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Gæahippos Ground Pound %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Ground Pound", "h2", "ti"],
        ["(How it works in my game)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes de mecánicas: Gæahippos Phytoturgy %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Phytoturgy", "h2", "ti"],
        ["(Similar Mechanics in other games)", "p", "p1"],
        [
            "(Gif 1)", "img", "i1"
        ],
        [
            "(Gif 2)", "img", "i2"
        ]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 i1 i1 i1 i1'
                'p1 p1 p1 p1 p1 p1 p1 p1 i2 i2 i2 i2'"
}) %>

<%# IDEACIÓN: Diseño de mecánicas: Gæahippos Phytoturgy %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Game Mechanics — Gæahippos Phytoturgy", "h2", "ti"],
        ["(Description of use cases, and input)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# Descripción del resto de mecánicas principales, a traves de la repetición de las dos anteriores diapositivas (Se debe complementar con bocetos propios, imágenes y/o video de otros productos como juegos, animaciones, películas, etc) %>

<%# IDEACIÓN: Referentes conceptuales y artísticos %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Diseño visual (assets, personajes, entornos, GUI/HUD) %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Referentes sonoros %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Diseño Sonoro %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IDEACIÓN: Modelo de negocio y escalabilidad del proyecto: Definición de parámetros de audiencia %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["(factibilidad, viabilidad, gestión de negocio, posicionamiento en el mercado y oportunidad de innovación u otros)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: PRODUCTO ACADÉMICO: Prototipo con placeholders y mecánicas funcionales/Ejemplos de Gameplay %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["Gameplay", "h2", "ti"],
        ["(Demo) Ejemplos de gameplay a partir de las mecánicas descritas anteriormente. (Especulación fundamentada)", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Implementación con placeholders: Resultados esperados e impacto de la propuesta %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Proceso de Animación %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Proceso de texturas, iluminación, shaders %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Diseño de niveles %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# IMPLEMENTACIÓN: Proceso de Producción: Programación final del prototipo %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# POST-PRODUCCIÓN: Desarrollo o propuesta de pipeline %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Proyección de nuevas etapas de desarrollo del proyecto %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Grado de avance y potenciales desafíos del proceso, junto a posibles soluciones %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Grado de avance y potenciales desafíos del proceso, junto a posibles soluciones %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Grado de efectividad de la propuesta %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# CONCLUSIONES: Nivel de logro de los objetivos %>
<%# <%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# ANEXOS %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%# BIBLIOGRAFÍA %>
<%#= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["", "h2", "ti"],
        ["", "p", "p1"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'
                'p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1'"
}) %>

<%= partial(:"partials/slide-reg", :locals => 
{
    :elements =>
    [
        ["gameplay.gif", "img", "ti"]
    ],
    :layout => "'ti ti ti ti ti ti ti ti ti ti ti ti'"
}) %>

<%# 
https://www.giantbomb.com/on-the-fly-character-switching/3015-4385/


- [Unicorns](https://bestiary.ca/beasts/beast140.htm)[¹](https://bestiary.ca/beasts/beast165.htm)[²](https://en.wikipedia.org/wiki/Unicorn) -> Abilities according to mythology?
- [Pegasi](https://bestiary.ca/beasts/beast477.htm)[¹](https://en.wikipedia.org/wiki/Pegasus)
- [Chtonippos](https://en.wikipedia.org/wiki/Chthonic)[¹](https://en.wikipedia.org/wiki/Sleipnir)

### Referentes Culturales

- My Little Pony
- Greek and Medieval Mythology
- [Georgian Era Britain](https://en.wikipedia.org/wiki/Georgian_era)
- [Isaac Newton and the Occult](https://en.wikipedia.org/wiki/Isaac_Newton%27s_occult_studies)
(otros juegos, libros, películas, discos, etc) (indicar que es lo que se está referenciando de cada uno)

Añadir un archivo chiquito que permita ver los controles del juego
%>
