<%
  elements = locals[:elements] || []
  layout = locals[:layout]
%>
<%# el[0] -> content, el[1] -> tag, el[2] -> area, el[3] -> class/alt-text %>
<div class="slide" style="grid-template-areas: <%= layout %>">
  <% elements.each do |el| %>
    <% if el[1] == "img" %>
      <img src="/images/<%= el[0] %>" style="grid-area: <%= el[2] %>" alt="<%= el[3] %>" class="slide-img">
    <% else %>
      <<%= el[1] %> style="grid-area: <%= el[2] %>" class="<%= el[3] %>">
        <%= el[0] %>
      </<%= el[1] %>>
    <% end %>
  <% end %>
</div>
