<%
  title = locals[:title]
  subtitle = locals[:subtitle]
  text = locals[:text]
  image = locals[:image]
  slideType = locals[:type]
%>

<div class="slide">
  <% if slideType.to_s == "cover" %>
   <h1><%= title.to_s %></h1>
   <h3><%= subtitle ? subtitle.to_s : "" %></h3>

  <% else %>
   <h2><%= title.to_s %></h2>

    <% if text %>
      <% text.each do |t| %>
        <p><%= t.to_s %></p>
      <% end %>
    <% end %>

    <% if image %>
      <img src="/images/<%= image.to_s %>">
    <% end %>

  <% end %>
</div>
